#wrapper{
    background-color: #F1E9E9;
    width: 970px;
   }
.header1{
    display: inline-block;
}
.header2{
    display: inline-block; 
    float: right; 
}
#mainwrap{
    background-color: #3D033D;
    padding: 15px;
}
.bioimg{
    display: inline-block;
}