*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body {
    width: 970px;
}
.banner span{
    color: rgb(38, 102, 156)
}
.banner img{
    width: 100px;
    position: relative;
    top: 20px;
}
.banner h1{
    width: 500px;
    display: inline-block;
    vertical-align: top;
    font-size: 3em;
    margin-top: 40px;
}
h2{
    color: white;
    background: linear-gradient(rgb(38, 102, 156), rgb(61, 118, 165), rgb(38, 102, 156));
    padding: 10px;
}
.main{
    background: linear-gradient(to top, #ffffff, #f5f5f5); 
}
.leftside{
    display: inline-block;
    width: 250px;
    padding: 5px;
    vertical-align: top;
}
.leftside p{
    margin-left: 5px;
    font-weight: bold;
}
.red{
    color: red;
}
.blue{
    color: rgb(38, 102, 156);
}
.leftside button{
    width: 95%;
	padding: 10px 0;
	margin-bottom: 10px;
	border-radius: 10px;
	font-size: 20px;
	color: white;
	font-weight: 900;
}
.video{
    background-color: rgb(38, 102, 156); 
}
.resources{
    background-color: rgb(235, 149, 55);
}
.ad{
    width: 225px;
    display: inline-block;
    margin-top: 30px;
}
.ninja{
    width: 100px;
    margin: 0px 40px 10px 55px;
}
.ad h3{
    color: white;
    width: 175px;
    font-size: 1.4em;
    margin: 10px 20px 5px 20px;
    text-align: center;
}
.learn{
    color: white;
    background-color: rgb(57, 199, 221);
    width: 200px; 
    padding: 5px;
    font-size: 1em;
    margin: 0 auto;
    display: block;
}
.leftside div{
    background-image: url(ad_background.png);
	height: 300px;
	padding-top: 20px;
}
.maintop{
    display: inline-block;
    width: 680px;
    margin-left: 20px;   
}
.home{
    width: 20px;
    margin-top: 10px;
    vertical-align: top;
}
.phone{
    width: 55px;
    margin-left: 330px;
    margin-top: 15px;
}
.mainheader{
    display: inline-block;
    margin-bottom: 10px;
}
.mainheader h3{
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    color: rgb(38, 102, 156);
}
.contact h3{
    color: rgb(57, 199, 221);
    font-size: 2em;
}
.contact{
    display: inline-block;
}
.mainmid{
    display: inline-block;
    width: 640px;
    margin-top: 10px;
}
.mainmid ul{
    list-style-position: inside;
}
.mainmid h3{
    color: rgb(38, 102, 156);
    margin-bottom: 5px;
}
.mainmid span{
    font-weight: bold;
}
.mainmid a{
    color: rgb(57, 199, 221);
}
.cserver{
    width:400px;
    margin-left: 140px;
}
.mainmid ol{
    margin-left: 30px;
}
.mainbottom img{
    width: 100px;
    display: inline-block;
    margin: 10px;
}
.mainbottom div{
    display: inline-block;
    width: 480px;
}
.mainbottom{
    border-width: 4px 4px 0px 4px;
    border-style: solid;
    border-color: rgb(38, 102, 156); 
    margin: 10px;
}